@* <div id="additionalFilters" style="display: none;"> *@
@*     <div class="row mb-3"> *@
@*         <div class="col-md-2"> *@
@*             <label><i class="fas fa-home"></i> Name:</label> *@
@*             <input type="text" name="Name" value="@ViewData["CurrentNameFilter"]" class="form-control form-control-sm" /> *@
@*         </div> *@
@*         <div class="col-md-2"> *@
@*             <label><i class="fas fa-ruler-vertical"></i> Inside Area:</label> *@
@*             <input type="number" name="InsideArea" value="@ViewData["CurrentInsideAreaFilter"]" class="form-control form-control-sm" /> *@
@*         </div> *@
@*         <div class="col-md-2"> *@
@*             <label><i class="fas fa-bed"></i> Bedroom Count:</label> *@
@*             <input type="number" name="BedroomCount" value="@ViewData["CurrentBedroomCountFilter"]" class="form-control form-control-sm" /> *@
@*         </div> *@
@*         <div class="col-md-2"> *@
@*             <label><i class="fas fa-bath"></i> Bathroom Count:</label> *@
@*             <input type="number" name="BathroomCount" value="@ViewData["CurrentBathroomCountFilter"]" class="form-control form-control-sm" /> *@
@*         </div> *@
@*         <div class="col-md-2"> *@
@*             <label><i class="fas fa-user"></i> Agent Name:</label> *@
@*             <input type="text" name="AgentName" value="@ViewData["CurrentAgentFilter"]" class="form-control form-control-sm" /> *@
@*         </div> *@
@*     </div> *@
@* </div>*@


@model dynamic

<div id="additionalFilters" style="display: @(ViewData["ShowAdditionalFilters"] as bool? == true ? "block" : "none");">
    <input type="hidden" name="ShowAdditionalFilters" value="@(ViewData["ShowAdditionalFilters"] as bool? == true ? "true" : "false")" />
    <div class="row mb-3">
        <div class="col-md-2">
            <label><i class="fas fa-home"></i> Name:</label>
            <input type="text" name="Name" value="@ViewData["CurrentNameFilter"]" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label><i class="fas fa-ruler-vertical"></i> Inside Area:</label>
            <input type="number" name="InsideArea" value="@ViewData["CurrentInsideAreaFilter"]" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label><i class="fas fa-bed"></i> Bedroom Count:</label>
            <input type="number" name="BedroomCount" value="@ViewData["CurrentBedroomCountFilter"]" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label><i class="fas fa-bath"></i> Bathroom Count:</label>
            <input type="number" name="BathroomCount" value="@ViewData["CurrentBathroomCountFilter"]" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            <label><i class="fas fa-user"></i> Agent Name:</label>
            <input type="text" name="AgentName" value="@ViewData["CurrentAgentFilter"]" class="form-control form-control-sm" />
        </div>
    </div>
</div>