@model PropertyForCreationDto

@{
    ViewBag.Title = "Create Property";
}

<h2 class="text-center mb-4">Create Property</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">
                        <i class="fas fa-home"></i> @Html.DisplayNameFor(m => m.Name) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="Name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Price" class="control-label">
                        <i class="fas fa-dollar-sign"></i> @Html.DisplayNameFor(m => m.Price) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="Price" class="form-control" autocomplete="off" type="number" min="0.01" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">
                        <i class="fas fa-align-left"></i> @Html.DisplayNameFor(m => m.Description) <span class="text-danger">*</span>
                    </label>
                    <textarea asp-for="Description" class="form-control" autocomplete="off"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="FullArea" class="control-label">
                        <i class="fas fa-ruler-combined"></i> @Html.DisplayNameFor(m => m.FullArea) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="FullArea" class="form-control" autocomplete="off" type="number" min="0.01" step="0.01" />
                    <span asp-validation-for="FullArea" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="InsideArea" class="control-label">
                        <i class="fas fa-ruler-vertical"></i> @Html.DisplayNameFor(m => m.InsideArea) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="InsideArea" class="form-control" autocomplete="off" type="number" min="0.01" step="0.01" />
                    <span asp-validation-for="InsideArea" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="BedroomCount" class="control-label">
                        <i class="fas fa-bed"></i> @Html.DisplayNameFor(m => m.BedroomCount) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="BedroomCount" class="form-control" autocomplete="off" type="number" min="1" />
                    <span asp-validation-for="BedroomCount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="BathroomCount" class="control-label">
                        <i class="fas fa-bath"></i> @Html.DisplayNameFor(m => m.BathroomCount) <span class="text-danger">*</span>
                    </label>
                    <input asp-for="BathroomCount" class="form-control" autocomplete="off" type="number" min="1" />
                    <span asp-validation-for="BathroomCount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label asp-for="Documentation" class="control-label">
                        <i class="fas fa-file-alt"></i> Documentation Photo
                    </label>
                    <input type="file" id="documentationInput" asp-for="Documentation" name="Documentation" accept="image/*" class="form-control-file" />
                    <span asp-validation-for="Documentation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Category" class="control-label">
                        <i class="fas fa-tags"></i> @Html.DisplayNameFor(m => m.Category)
                    </label>
                    <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Status" class="control-label">
                        <i class="fas fa-info-circle"></i> @Html.DisplayNameFor(m => m.Status)
                    </label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Statuses"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="Status" class="control-label">
                        <i class="fas fa-info-circle"></i> @Html.DisplayNameFor(m => m.SelectedCity)
                    </label>
                    <select asp-for="SelectedCity" class="form-control" asp-items="ViewBag.Cities"></select>
                    <span asp-validation-for="SelectedCity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="MainImageFile" class="control-label">
                        <i class="fas fa-image"></i> Upload Main Image
                    </label>
                    <input type="file" id="mainImageInput" asp-for="MainImageFile" class="form-control-file" accept=".jpg, .jpeg, .png, .svg" required/>
                    <span asp-validation-for="MainImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                    <label asp-for="OtherImagesFile" class="control-label">
                        <i class="fas fa-images"></i> @Html.DisplayNameFor(m => m.OtherImagesFile)
                    </label>
                    <input type="file" id="otherImagesInput" asp-for="OtherImagesFile" class="form-control-file" accept="image/*" accept=".jpg, .jpeg, .png, .svg" required  multiple class="form-control-file" />
                    <span asp-validation-for="OtherImagesFile" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
