@model IEnumerable<NestAlbania.Data.Property>

@{
    ViewData["Title"] = "Index";
}

<div>
    <form asp-action="GetPropertiesByNumberOfBedroomsAsync" method="get">
        <input type="number" name="nrOfBedrooms" />
        <button class="btn btn-gradient-info btn-rounded" type="submit">Search</button>
    </form>
</div>



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsideArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedroomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BathroomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documentation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsideArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedroomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathroomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
