@model IEnumerable<NestAlbania.Data.ApplicationUserRole>

@{

    ViewData["Title"] = "UserRoleIndex";
    var userId = ViewBag.UserId as string;
}

<h1>UserRoleIndex</h1>

<p>
    <a asp-action="UserRoleCreate" asp-route-userId="@userId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
